<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <caption>Lista Utenti</caption>
        <!-- Nome Column -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
        </ng-container>

        <!-- Cognome Column -->
        <ng-container matColumnDef="cognome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
            <td mat-cell *matCellDef="let row"> {{row.cognome}} </td>
        </ng-container>

        <!-- CF Column-->
        <ng-container matColumnDef="cf">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codice Fiscale </th>
            <td mat-cell *matCellDef="let row" > {{row.cf}} </td>
        </ng-container>

        <!-- Autovettura Column-->
        <ng-container matColumnDef="autovettura">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Autovettura </th>
            <td mat-cell *matCellDef="let row"> {{row.autovettura[0].targa}} </td>
        </ng-container>

        <!-- Azioni Column-->
        <ng-container matColumnDef="_action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Azioni </th>
            <td mat-cell *matCellDef="let row" > 
              <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon>
              </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="changeUtenteTest(row)">Edit</button>    
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>